# Practice Questions
### TOPIC: String Based Assignment Problem
1. Write a program to reverse a string.

In [2]:
s="This is the string reversal example"
rs=s[::-1]
print(rs)

elpmaxe lasrever gnirts eht si sihT

2. Check if a string is a palindrome.

In [3]:
s="radar"
rs=s[::-1]
if s==rs:
    print("Palindrome")
else:
    print("Not a Palindrome")

Palindrome

3. Convert a string to uppercase.

In [4]:
s="test string"
s=s.upper()
print(s)

TEST STRING

4. Convert a string to lowercase.

In [5]:
s="Test String"
s=s.lower()
print(s)

test string

5. Count the number of vowels in a string.

In [6]:
vowel_count=0
string='This is string to count the number of vowels'
for i in string:
    character=i.lower()
    if ((character=='a')|(character=='e')|(character=='i')|(character=='o')|(character=='u')):
        vowel_count+=1
    else:
        pass
print(f"The total vowel count is {vowel_count}")

The total vowel count is 12

6. Count the number of consonants in a string.

In [7]:
consonant_count=0
string='This is string to count the number of consonants'
for i in string:
    character=i.lower()
    if ((character=='a')|(character=='e')|(character=='i')|(character=='o')|(character=='u')):
        pass
    else:
        consonant_count+=1
print(f"The total vowel count is {consonant_count}")

The total vowel count is 35

7. Remove all whitespaces from a string.

In [11]:
string='''This is string to count the 
    number of consonants'''
list_whitespace=[' ','\n','\t']
for i in list_whitespace:
    string=string.replace(i,"") 
print(string)

Thisisstringtocountthenumberofconsonants

8. Find the length of a string without using the `len()` function.

In [7]:
string='Hello! This is PW Skills Course!'
def find_len(s):
    len_s=0
    for i in s:
        len_s+=1
    return len_s
find_len(string)

32

9. Check if a string contains a specific word.

In [12]:
string='Hello! This is PW Skills Course!'
check_string='Skills'
if check_string in string:
    print('String found!')
else:
    print('String not found')

String found!

10. Replace a word in a string with another word.

In [14]:
string='Hello! This is PW Skills Course!'
old_string='Skills'
new_string='Skills Data Science Master'
string.replace(old_string,new_string)

'Hello! This is PW Skills Data Science Master Course!'

11. Count the occurrences of a word in a string.

In [8]:
string='Despite the fact that the word secret appears multiple times in the title-case text title_cased_file_content, it never shows up in all lowercase. Thats why the check that you perform with the membership operator returns False. Python cant find the all-lowercase string secret in the provided text'
check_string='the'
string.count(check_string)

7

12. Find the first occurrence of a word in a string.

In [7]:
string='Hello! This is PW Skills Course!'
string.split()[0]

'Hello!'

13. Find the last occurrence of a word in a string.

In [6]:
string='Hello! This is PW Skills Course!'
string.split()[-1]

'Course!'

14. Split a string into a list of words.

In [1]:
string='Hello! This is PW Skills Course!'
string.split()

['Hello!', 'This', 'is', 'PW', 'Skills', 'Course!']

15. Join a list of words into a string.

In [19]:
l=['Hello!', 'This', 'is', 'PW', 'Skills', 'Course!']
s=' '
s.join(l)

'Hello! This is PW Skills Course!'

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [4]:
string='Hello! This is PW Skills Course!'
string.replace(" ","_")

'Hello!_This_is_PW_Skills_Course!'

17. Check if a string starts with a specific word or phrase.

In [5]:
string='Hello! This is PW Skills Course!'
string.startswith('Hello!')

True

18. Check if a string ends with a specific word or phrase.

In [1]:
string='Hello! This is PW Skills Course!'
check_string='Course!'
if string.endswith(check_string):
    print(f'Yes! The string is ends with check_string')
else:
    print(f'No! The string is not ends with check_string')

Yes! The string is ends with check_string

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [2]:
string='Hello! this is PW skills course for data science students'
print(string.title())

Hello! This Is Pw Skills Course For Data Science Students

20. Find the longest word in a string.

In [4]:
string='Hello! this is PW skills course for data science students'
string_list=string.split()
word_length=0
lonegest_word=""
for i in string_list:
    if len(i)>word_length:
        word_length=len(i)
        lonegest_word=i
    else:
        pass
print(f"the longest word is {lonegest_word} and its length is {word_length}")

the longest word is students and its length is 8

21. Find the shortest word in a string.

In [6]:
string='Hello! this is PW skills course for data science students'
string_list=string.split()
word_length=len(string_list[0])
shortest_word=""
for i in string_list:
    if len(i)<word_length:
        word_length=len(i)
        shortest_word=i
    else:
        pass
print(f"the shortest word is '{shortest_word}' and its length is {word_length}")

the shortest word is 'is' and its length is 2

22. Reverse the order of words in a string.

In [26]:
string='Hello! this is PW skills course for data science students'
l=string.split()
l.reverse()
s=' '
s.join(l)

'students science data for course skills PW is this Hello!'

23. Check if a string is alphanumeric.

In [27]:
s='HEllo123'
s.isalnum()

True

24. Extract all digits from a string.

In [21]:
#Approach 1 - If we want to return output as list
string_example='s1232ads335fgfg'
[i for i in string_example if i.isnumeric()==True]

['1', '2', '3', '2', '3', '3', '5']

In [23]:
#Approach 2 If we want to return output as string
string_example='s1232ads335fgfg'
digit_extract=''
for i in string_example:
    if i.isnumeric()==True:
        digit_extract=digit_extract+i
print(digit_extract)

1232335

25. Extract all alphabets from a string.

In [24]:
#Approach 1 - If we want to return output as list
string_example='s1232ads335fgfg'
[i for i in string_example if i.isalpha()==True]

['s', 'a', 'd', 's', 'f', 'g', 'f', 'g']

In [26]:
#Approach 2 If we want to return output as string
string_example='s1232ads335fgfg'
alpbhabet_extract=''
for i in string_example:
    if i.isalpha()==True:
        alpbhabet_extract=alpbhabet_extract+i
print(alpbhabet_extract)

sadsfgfg

26. Count the number of uppercase letters in a string.

In [28]:
string='Hello! this is PW skills course for data science students'
count=0
for i in string:
    if i.isupper():
        count+=1
print(f"The total Upper Case Letters in string are {count}")

The total Upper Case Letters in string are 3

27. Count the number of lowercase letters in a string.

In [29]:
string='Hello! this is PW skills course for data science students'
count=0
for i in string:
    if i.islower():
        count+=1
print(f"The total Lower Case Letters in string are {count}")

The total Lower Case Letters in string are 44

28. Swap the case of each character in a string.

In [30]:
string='Hello! this is PW skills course for data science students'
string.swapcase()

'hELLO! THIS IS pw SKILLS COURSE FOR DATA SCIENCE STUDENTS'

29. Remove a specific word from a string.

In [33]:
string='Hello! this is PW skills course for data science students'
string.replace('PW','')

'Hello! this is  skills course for data science students'

30. Check if a string is a valid email address.

In [80]:
import re
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
def check_email(email):
    if(re.match(regex,email)):
        return "Valid EMail Address"
    else:
        return "Invalid EMail Address"


print('chandananadve@gmail.com is' ,check_email('chandananadve@gmail.com'))
print('chandananadve@gmailcom is' ,check_email('chandananadve@gmailcom'))

chandananadve@gmail.com is Valid EMail Address
chandananadve@gmailcom is Invalid EMail Address

31. Extract the username from an email address string.

In [84]:
email='chandananadve@gmail.com'
username=email.split(sep='@')[0]
print(username)

chandananadve

32. Extract the domain name from an email address string.

In [85]:
email='chandananadve@gmail.com'
domainname=email.split(sep='@')[1]
print(domainname)

gmail.com

33. Replace multiple spaces in a string with a single space.

In [14]:
s='Hello  This is    to replace    multiple space    with single   space'
while '  ' in s:
    s=s.replace('  ',' ')
print(s)

Hello This is to replace multiple space with single space

34. Check if a string is a valid URL.

In [9]:
import re
pattern = re.compile(r'^https?://(www\.)?[\w.-]+\.\w+$', re.IGNORECASE)
url1='https://www.google.com'
if pattern.match(url1):
    print('The URL is valid')
else:
    print('The URL is Invalid')

The URL is valid

35. Extract the protocol (http or https) from a URL string.

In [12]:
import re
url1='https://www.google.com'
if url1.startswith('https://'):
    print('https')
elif url1.startswith('http://'):
    print('http')
else:
    print('Invalid URL' )

https

36. Find the frequency of each character in a string.

In [8]:
s='Hello! This is to check frequence of the each character irrespective of case'
set1=set(s)
for i in set1:
    print(f"{i}->{s.count(i)}")

e->12
t->4
l->2
p->1
f->3
n->1
c->8
i->4
 ->12
o->4
k->1
H->1
s->4
r->5
v->1
a->4
q->1
h->5
!->1
T->1
u->1

37. Remove all punctuation from a string.

In [12]:
import string
p=string.punctuation
s="Hello! Welcome to PWSkills. There are many courses in the batch."
p=list(p)
for i in p:
    if i in s:
        s=s.replace(i,'')
print(s)

Hello Welcome to PWSkills There are many courses in the batch

38. Check if a string contains only digits.

In [2]:
s='1234546'
s.isdigit()

True

39. Check if a string contains only alphabets.

In [3]:
s='hello'
s.isalpha()

True

40. Convert a string to a list of characters.

In [6]:
s='hello'
l=list(s)
print(l)

['h', 'e', 'l', 'l', 'o']

41. Check if two strings are anagrams.

In [9]:
s1='abcd'
s2='BcDA'
if len(s1)!=len(s2):
    print('Strings are not anagram')
else:
    s1=s1.lower()
    s2=s2.lower()
    s1=''.join(sorted(s1))
    s2=''.join(sorted(s2))
    if s1==s2:
        print('Strings are anagram')
    else:
        print('Strings are not anagram')

Strings are anagram

42. Encode a string using a Caesar cipher.

In [27]:
def caesar_cipher(text, shift):
    result = ""
    
    for char in text:
        if char.isalpha():
            if char.isupper():
                shifted_char = chr(((ord(char) - ord('A') + shift) % 26) + ord('A'))
            else:
                shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
        else:
            shifted_char = char
        
        result += shifted_char
    
    return result

text = "Chandan"
shift = 5
encoded_text = caesar_cipher(text, shift)
print("Encoded:", encoded_text)

Encoded: Hmfsifs

43. Decode a Caesar cipher encoded string.

In [28]:
def caesar_cipher(text, shift):
    result = ""
    
    for char in text:
        if char.isalpha():
            if char.isupper():
                shifted_char = chr(((ord(char) - ord('A') - shift) % 26) + ord('A'))
            else:
                shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
        else:
            shifted_char = char
        
        result += shifted_char
    
    return result


encoded_text = "Hmfsifs"
shift = 5
decoded_text = caesar_cipher(encoded_text, shift)
print("Decoded:", decoded_text)

Decoded: Chandan

44. Find the most frequent word in a string.

In [13]:
s='Hello! This is to check frequence of the each word in string irrespective of case. Its the good test in string.'
l=s.lower().split()
st=set(l)
s=s.lower()

frequency_count=0
frequency_word=''
for i in st:
    if s.count(i)>frequency_count:
        frequency_count=s.count(i)
        frequency_word=i

print(f"Most Frequency word is '{frequency_word}' and count is {frequency_count}")

Most Frequency word is 'in' and count is 4

45. Find all unique words in a string.

In [61]:
s='Hello! This is to check unique word in string irrespective of case. Its the good test in string.'
l=s.lower().split()
st=set(l)
s=s.lower()
l2=[]
for i in st:
    if s.count(i)==1:
        l2.append(i)

print(f"Most unique words in the strings are {l2}")

Most unique words in the strings are ['string.', 'hello!', 'word', 'this', 'test', 'unique', 'case.', 'check', 'its', 'the', 'to', 'of', 'irrespective', 'good']

46. Count the number of syllables in a string.

In [29]:
import re

def count_syllables(word):
    word = word.lower()
    
    characters = re.findall(r'[a-z]+', word)
    
    if not characters:
        return 0
    
    count = 0
    prev_char = ""
    is_vowel = False
    
    for char in characters:
        if char in "aeiouy":
            if not is_vowel:
                count += 1 
            is_vowel = True
        else:
            is_vowel = False 
        
        prev_char = char
    
    if prev_char == 'e':
        count -= 1 
    
    if count == 0:
        count = 1 
    
    return count

word = "hello"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'hello' has 1 syllables.

47. Check if a string contains any special characters.

In [94]:
import string
s="Hello! Welcome to the Course of PW Skills!"
flag=False
for i in string.punctuation:
    if i in s:
        flag=True
if flag:
    print('String contains special characters')
else:
    print('String is not contains any special character')

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

48. Remove the nth word from a string.

In [92]:
s="Hello! Welcome to the Course of PW Skills!"
l=s.split()
n=3
l=l[:n-1]+l[n:]
s=" ".join(l)
print(s)

Hello! Welcome the Course of PW Skills!

49. Insert a word at the nth position in a string.

In [20]:
s="Hello! Welcome to the Course of PW Skills!"
position=19
insertion_string=' Data Science '
if position<len(s):
    print(s[:position-1]+insertion_string+s[position-1:])

Hello! Welcome to  Data Science the Course of PW Skills!

50. Convert a CSV string to a list of lists.

In [24]:
s="Hello,This,is,example,to,spearate,CSV,Values,to,list"
l=s.split(sep=',')
print(l)

['Hello', 'This', 'is', 'example', 'to', 'spearate', 'CSV', 'Values', 'to', 'list']

### List Based Practice Problem :
1. Create a list with integers from 1 to 10.

In [13]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [34]:
l=[1,2,34,5,2,4,6,2]
count_s=0
for i in l:
    count_s+=1
print(count_s)

8

3. Append an element to the end of a list.

In [71]:
l=[1,2,34,5,2,4,6,2]
l.append(100)
print(l)

[1, 2, 34, 5, 2, 4, 6, 2, 100]

4. Insert an element at a specific index in a list.

In [43]:
l=[1,2,3,4,5,77,88,99]
# In the above list if its required to insert the 400 value in 1st index following is the code
l.insert(1,400) 
print(l)

[1, 400, 2, 3, 4, 5, 77, 88, 99]

5. Remove an element from a list by its value.

In [45]:
l=[1,2,3,4,5,77,88,99]
# In the above list if i need to remove 88 value  following is the code
l.remove(88)
print(l)

[1, 2, 3, 4, 5, 77, 99]

6. Remove an element from a list by its index.

In [46]:
l=[1,2,3,4,5,77,88,99]
# In the above list if i need to remove value 2 which is there in my index 1 following is the code
l.pop(1)
print(l)

[1, 3, 4, 5, 77, 88, 99]

7. Check if an element exists in a list.

In [53]:
l=[1,2,3,4,5,77,88,99,110]
# In the above list if i need to remove value 2 which is there in my index 1 following is the code
if 77 in l:
    print(True)
else:
    print(False)

True

8. Find the index of the first occurrence of an element in a list.

In [69]:
l=[2,1,4,5,7,3,2,3,5,6,7,1,88,32,12,34]
l.index(5)

3

9. Count the occurrences of an element in a list.

In [68]:
l=[2,1,4,5,7,3,2,3,5,6,7,1,88,32,12,34]
l.count(5)

2

10. Reverse the order of elements in a list.

In [67]:
l=[2,1,4,5,7,3,2,3,5,6,7,1,88,32,12,34]
l.reverse()
print(l)

[34, 12, 32, 88, 1, 7, 6, 5, 3, 2, 3, 7, 5, 4, 1, 2]

11. Sort a list in ascending order.

In [64]:
l=[2,1,4,5,7,3,2,3,5,6,7,1,88,32,12,34]
l.sort()
print(l)

[1, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 7, 12, 32, 34, 88]

12. Sort a list in descending order.

In [66]:
l=[2,1,4,5,7,3,2,3,5,6,7,1,88,32,12,34]
l.sort(reverse=True)
print(l)

[88, 34, 32, 12, 7, 7, 6, 5, 5, 4, 3, 3, 2, 2, 1, 1]

13. Create a list of even numbers from 1 to 20.

In [63]:
l=[]
for i in range(21):
    if (i%2==0)&(i>0):
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [60]:
l=[]
for i in range(21):
    if i%2!=0:
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [72]:
l=[2,1,4,5,7,3,2,3,5,6,7,1,88,32,12,34]
s=0
for i in l:
    s+=i
print(f"The total sum {s}")

The total sum 212

16. Find the maximum value in a list.

In [73]:
l=[2,1,4,5,7,3,2,3,5,6,7,1,88,32,12,34]
max_val=l[0]
for i in l:
    if max_val<i:
        max_val=i
print(f"The maximum value in the list is {max_val}")

The maximum value in the list is 88

17. Find the minimum value in a list.

In [75]:
l=[2,1,4,5,7,3,2,3,5,6,7,1,88,32,12,34]
min_val=l[0]
for i in l:
    if min_val>i:
        min_val=i
print(f"The minimum value in the list is {min_val}")

The minimum value in the list is 1

18. Create a list of squares of numbers from 1 to 10.

In [58]:
l=[]
for i in range(11):
    if i>0:
        l.append(i*i)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [57]:
import random
l=[]
for i in range(10):
    l.append(random.randint(1,100))
print(l)

[68, 17, 69, 20, 74, 4, 90, 56, 46, 40]

20. Remove duplicates from a list.

In [55]:
l=[1,2,3,4,5,67,7,7,2,3,4,6,7]
s=set(l)
l=list(s)
print(l)

[1, 2, 3, 4, 5, 67, 7, 6]

21. Find the common elements between two lists.

In [42]:
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8]
l3=[]
for i in l1:
    if i in l2:
        l3.append(i)
print(f"Common elements in l1={l1} and l2={l2} are l3={l3}")

Common elements in l1=[1, 2, 3, 4, 5, 6] and l2=[4, 5, 6, 7, 8] are l3=[4, 5, 6]

22. Find the difference between two lists.

In [41]:
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8]
l3=[]
for i in l1:
    if i not in l2:
        l3.append(i)
print(f"Difference between l1={l1} and l2={l2} is l3={l3}")

Difference between l1=[1, 2, 3, 4, 5, 6] and l2=[4, 5, 6, 7, 8] is l3=[1, 2, 3]

23. Merge two lists.

In [15]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[11,12,23,14,15,16,17,18,19,20]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]

24. Multiply all elements in a list by 2.

In [16]:
#Approach 1
l1=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(l1)):
    l1[i]=l1[i]*2
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
#Approach 2
l1=[1,2,3,4,5,6,7,8,9,10]
[i*2 for i in l1]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [7]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
even_list=[]
for i in l1:
    if i%2==0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

26. Convert a list of strings to a list of integers.

In [5]:
l=['1', '2', '3', '4', '5', '6', '7']
for i in range(len(l)):
    try:
        l[i]=int(l[i])
    except Exception as e:
        print(e)
print(l)

[1, 2, 3, 4, 5, 6, 7]

27. Convert a list of integers to a list of strings.

In [1]:
l=[1,2,3,4,5,6,7]
for i in range(len(l)):
    l[i]=str(l[i])
print(l)

['1', '2', '3', '4', '5', '6', '7']

28. Flatten a nested list.

In [17]:
l=[1,2,3,4,5,6,7,[44,55,66,[334,223,123]]]
temp_l=[]
def flatten_list(l1):
    global temp_l
    for i in l1:
        if type(i)==list:
            flatten_list(i)
        else:
            temp_l.append(i)
    
flatten_list(l)
print(temp_l)

[1, 2, 3, 4, 5, 6, 7, 44, 55, 66, 334, 223, 123]

29. Create a list of the first 10 Fibonacci numbers.

In [4]:
x=0
y=1
l=[0,1]
for i in range(0,10):
    x,y=y,x+y
    l.append(y)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

30. Check if a list is sorted.

In [24]:
import copy
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
l2=copy.deepcopy(l1)
l2.sort()
if l1==l2:
    print('list is sorted')
else:
    print('list is not sorted')

31. Rotate a list to the left by `n` positions.

In [9]:
n=4
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
for i in range(n):
    l1=[l1[-1]]+l1[:-1]
print(l1)

[17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16]

32. Rotate a list to the right by `n` positions.

In [8]:
n=4
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
for i in range(n):
    l1=l1[1:]+[l1[0]]
print(l1)

[5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [15]:
def check_prime(n):
    if n<2:
        return False
    elif (n<4) or (n==5):
        return True
    elif n%2==0 or  n%3==0:
        return False
    else:
        i=5
        while i<n:
            if n%i==0:
                return False
            i+=1
        return True
    
p_count=0
n=1
prime_numbers=[]

while p_count<5:
    if check_prime(n):
        prime_numbers.append(n)
        p_count+=1
    n+=1
        
print(prime_numbers)

[2, 3, 5, 7, 11]

34. Split a list into chunks of size `n`.

In [2]:
n=3
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
chunk_size=len(l1)//n
if chunk_size<1:
    print('Invalid Chunk Size! The Chunk size is greater than number of elements in the list')
else:
    i=0
    while(i<len(l1)):
        print(l1[i:i+n])
        i+=n

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]
[23, 14, 15]
[16, 17, 18]
[19, 20]

35. Find the second largest number in a list.

In [8]:
import copy
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
l2=copy.deepcopy(l1)
l2.remove(max(l2))
print(f"Second largest number is {max(l2)}")

Second largest number is 20

36. Replace every element in a list with its square.

In [26]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
for i in range(len(l)):
    try:
        l[i]=l[i]*l[i]
    except Exception as e:
        print(e)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 529, 196, 225, 256, 289, 324, 361, 400]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [28]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
d={}
for i in range(len(l)):
    d[i]=l[i]
print(d)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 23, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20}

38. Shuffle the elements of a list randomly.

In [56]:
import random
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20]
for i in range(0,len(l)):
    swap1=random.randint(0,len(l)-1)
    swap2=random.randint(0,len(l)-1)
    l[swap1],l[swap2]=l[swap2],l[swap1]
print(l)

[1, 20, 8, 17, 5, 23, 7, 12, 6, 10, 11, 4, 15, 2, 14, 16, 19, 18, 3, 9]

39. Create a list of the first 10 factorial numbers.

In [57]:
n=int(input('Enter the number for finding factorial'))
def factorial(n:int):
    if n==1:
        return n
    else:
        return n*factorial(n-1)
factorial(n)

Enter the number for finding factorial 10

3628800

40. Check if two lists have at least one element in common.

In [19]:
l=[1,2,3,4,5,6,7,8,9]
l2=[9,10,11,12,13,15,16,18,20]
for i in l:
    if i in l2:
        print("The 2 lists having atleast one element in common")
        break
else:
    print("two lists dont have any common element")

The 2 lists having atleast one element in common

41. Remove all elements from a list.

In [43]:
l=[1,2,3,4,5,6,7,8,9]
l.clear()
print(l)

[]

42. Replace negative numbers in a list with 0.

In [45]:
l=[1,3,2,-2,-3,4,5,5,-9,6,7,8,9]
for i in range(0,len(l)):
    if l[i]<0:
        l[i]=0
print(l)

[1, 3, 2, 0, 0, 4, 5, 5, 0, 6, 7, 8, 9]

43. Convert a string into a list of words.

In [30]:
s1='''Google was founded on September 4, 1998, by American computer scientists Larry Page and Sergey Brin while they were PhD students at Stanford University in California.'''
l=s1.split()
print(l)

['Google', 'was', 'founded', 'on', 'September', '4,', '1998,', 'by', 'American', 'computer', 'scientists', 'Larry', 'Page', 'and', 'Sergey', 'Brin', 'while', 'they', 'were', 'PhD', 'students', 'at', 'Stanford', 'University', 'in', 'California.']

44. Convert a list of words into a string.

In [34]:
l=['Google', 'was', 'founded', 'on', 'September', '4,', '1998,', 'by', 'American', 'computer', 'scientists', 'Larry', 'Page', 'and', 'Sergey', 'Brin', 'while', 'they', 'were', 'PhD', 'students', 'at', 'Stanford', 'University', 'in', 'California.']
s=" ".join(l)
print(s)

Google was founded on September 4, 1998, by American computer scientists Larry Page and Sergey Brin while they were PhD students at Stanford University in California.

45. Create a list of the first `n` powers of 2.

In [58]:
n=int(input('Enter a valid integer'))
l=[]
for i in range(1,n+1):
    l.append(pow(i,2))
print(l)

Enter a valid integer 12

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

46. Find the longest string in a list of strings.

In [50]:
l=['Google', 'was', 'founded', 'on', 'September', '4,', '1998,', 'by', 'American', 'computer', 'scientists', 'Larry', 'Page', 'and', 'Sergey', 'Brin', 'while', 'they', 'were', 'PhD', 'students', 'at', 'Stanford', 'University', 'in', 'California.']
longest_word=''
len_value=0
for i in range(0,len(l)):
    if len(l[i])>len_value:
        len_value=len(l[i])
        longest_word=l[i]
print(f"The Longest string is '{longest_word}' and the length is {len_value} characters")

The Longest string is 'California.' and the length is 11 characters

47. Find the shortest string in a list of strings.

In [52]:
l=['Google', 'was', 'founded', 'on', 'September', '4,', '1998,', 'by', 'American', 'computer', 'scientists', 'Larry', 'Page', 'and', 'Sergey', 'Brin', 'while', 'they', 'were', 'PhD', 'students', 'at', 'Stanford', 'University', 'in', 'California.']
longest_word=''
len_value=len(l[0])
for i in range(0,len(l)):
    if len(l[i])<len_value:
        len_value=len(l[i])
        longest_word=l[i]
print(f"The Longest string is '{longest_word}' and the length is {len_value} characters")

The Longest string is 'on' and the length is 2 characters

48. Create a list of the first `n` triangular numbers.

In [13]:
l=[]

def triangular(n):
    m=n*2
    m=int(m**0.5)
    m=(m)*(m+1)/2
    return n==m
    
for i in range(1,T+1):
    if triangular(i):
        l.append(i)

triangular(10)
print(l)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

49. Check if a list contains another list as a subsequence.

In [20]:
list1=[10,[100,23],[23,34]]
def check_sub_list(l):
    for i in l:
        if type(i)==list:
            return True
        else:
            pass
    return False
if check_sub_list(list1):
    print("list contains another list as a subsequence")
else:
    print("list is not contains another list as a subsequence")

list contains another list as a subsequence

50. Swap two elements in a list by their indices.

In [46]:
l=[1,2]
l[0],l[1]=l[1],l[0]
print(l)

[2, 1]

### Tuple Based Practice Problem :
1. Create a tuple with integers from 1 to 5.

In [ ]:
t=(1,2,3,4,5)

2. Access the third element of a tuple.

In [10]:
t=(1,2,3,4,5)
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [35]:
t=(1,2,3,4,5,'chandan',3+5j)
t_len=0
for i in t:
    t_len+=1
print(f"The length of the tuple is {t_len}")

The length of the tuple is 7

4. Count the occurrences of an element in a tuple.

In [39]:
t=(1,2,3,5,3,4,2,3,5,5,6)
t.count(5)

3

5. Find the index of the first occurrence of an element in a tuple.

In [40]:
t=(1,2,3,5,3,4,2,3,5,5,6)
t.index(5)

3

6. Check if an element exists in a tuple.

In [41]:
t=(1,2,3,5,3,4,2,3,5,5,6)
if i in t:
    print('Element Found!')
else:
    print('Element not Found!')

Element not Found!

7. Convert a tuple to a list.

In [43]:
t=(1,2,3,5,3,4,2,3,5,5,6)
l=list(t)
print(l)
print(type(l))

[1, 2, 3, 5, 3, 4, 2, 3, 5, 5, 6]
<class 'list'>

8. Convert a list to a tuple.

In [44]:
l=[1,2,3,5,3,4,2,3,5,5,6]
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 5, 3, 4, 2, 3, 5, 5, 6)
<class 'tuple'>

9. Unpack the elements of a tuple into variables.

In [45]:
t=(11,22,33)
a,b,c=t
print(f"a={a},b={b},c={c}")

a=11,b=22,c=33

10. Create a tuple of even numbers from 1 to 10.

In [47]:
l=[]
for i in range(1,11):
    if i%2==0:
        l.append(i)
t=tuple(l)
print(t)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [48]:
l=[]
for i in range(1,11):
    if i%2!=0:
        l.append(i)
t=tuple(l)
print(t)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [50]:
t1=(1,2,3,5,3,4,2,3,5,5,6)
t2=(11,22,33)
t3=t1+t2
print(t3)

(1, 2, 3, 5, 3, 4, 2, 3, 5, 5, 6, 11, 22, 33)

13. Repeat a tuple three times.

In [53]:
t1=(1,2,3)
t2=t1*3
print(t2)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [42]:
t=(1,2,3,4,5)
if len(t)>0:
    print('Tuple is not empty')
else:
    print('The tuple is empty')

Tuple is not empty

15. Create a nested tuple.

In [44]:
t=(1,2,3,4,(4,5,6,7,(2,3,4,5)))
print(t)

(1, 2, 3, 4, (4, 5, 6, 7, (2, 3, 4, 5)))

16. Access the first element of a nested tuple.

In [46]:
t=(1,2,3,4,(4,5,6,7,(2,3,4,5)))
t[4][0]

4

17. Create a tuple with a single element.

In [49]:
t=tuple([1])
print(type(t))

<class 'tuple'>

18. Compare two tuples.

In [54]:
t1=(1,2,3,4,5)
t2=(2,1,4,5,3)
if t1==t2:
    print('Both tuples are matched')
else:
    print('Both tuples are not matching')

Both tuples are not matching

19. Delete a tuple.

In [40]:
t=(1,2,3,4,5)
del t

20. Slice a tuple.

In [28]:
t=(1,2,3,4,5,6)
t[5:3:-1]

(6, 5)

21. Find the maximum value in a tuple.

In [25]:
t=(1,2,3,4,5,6)
max(t)

6

22. Find the minimum value in a tuple.

In [24]:
t=(1,2,3,4,5,6)
min(t)

1

23. Convert a string to a tuple of characters.

In [32]:
s="CHANDANNADVE"
t=tuple(s)
print(t)

('C', 'H', 'A', 'N', 'D', 'A', 'N', 'N', 'A', 'D', 'V', 'E')

24. Convert a tuple of characters to a string.

In [37]:
t=('C', 'H', 'A', 'N', 'D', 'A', 'N', 'N', 'A', 'D', 'V', 'E')
s=""
for i in t:
    s+=i
print(s)

CHANDANNADVE

25. Create a tuple from multiple data types.

In [39]:
t=('CHANDAN',3+5j,4,5.7,True)

26. Check if two tuples are identical.

In [16]:
t1=(1,2,4)
t2=(1,2,4)
if t1 is t2:
    print('2 tuples are identical')
else:
    print('2 tuples are not identical')

2 tuples are not identical

In [17]:
t1=(1,2,4)
t2=t1
if t1 is t2:
    print('2 tuples are identical')
else:
    print('2 tuples are not identical')

2 tuples are identical

27. Sort the elements of a tuple.

In [64]:
t1=(22, 33, 44, 11, 12, 23, 12, 1, 2, 3, 4, 4, 5, 6)
l=list(t1)
l.sort()
t1=tuple(l)
print(t1)

(1, 2, 3, 4, 4, 5, 6, 11, 12, 12, 22, 23, 33, 44)

28. Convert a tuple of integers to a tuple of strings.

In [66]:
t1=(22, 33, 44, 11, 12, 23, 12, 1, 2, 3, 4, 4, 5, 6)
t2=()
for i in t1:
    t2+=tuple(str(i))
print(t2)

('2', '2', '3', '3', '4', '4', '1', '1', '1', '2', '2', '3', '1', '2', '1', '2', '3', '4', '4', '5', '6')

29. Convert a tuple of strings to a tuple of integers.

In [68]:
t1=('2', '2', '3', '3', '4', '4', '1', '1', '1', '2', '2', '3', '1', '2', '1', '2', '3', '4', '4', '5', '6')
t2=()
for i in t1:
    t2+=tuple([int(i)])
print(t2)

(2, 2, 3, 3, 4, 4, 1, 1, 1, 2, 2, 3, 1, 2, 1, 2, 3, 4, 4, 5, 6)

30. Merge two tuples.

In [62]:
t1=(22,33,44,11,12,23,12)
t2=(1,2,3,4,4,5,6)
t1+t2

(22, 33, 44, 11, 12, 23, 12, 1, 2, 3, 4, 4, 5, 6)

31. Flatten a nested tuple.

In [71]:
t1=(22,33,44,(2,2,4,5,6),11,12,23,(2,3,1,2,4,(2,4,5,6,7)))
def flatten_tuple(t):
    flat_t=()
    for i in t:
        if type(i)==tuple:
            flat_t+=flatten_tuple(i)
        else:
            flat_t+=tuple([i])
    return flat_t
flatten_tuple(t1)

(22, 33, 44, 2, 2, 4, 5, 6, 11, 12, 23, 2, 3, 1, 2, 4, 2, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [11]:
def check_prime(n):
    if n<2:
        return False
    elif (n<4) or (n==5):
        return True
    elif n%2==0 or  n%3==0:
        return False
    else:
        i=5
        while i<n:
            if n%i==0:
                return False
            i+=1
        return True
    
p_count=0
n=1
prime_numbers=tuple()

while p_count<5:
    if check_prime(n):
        prime_numbers+=tuple([n])
        p_count+=1
    n+=1
        
print(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [55]:
t=(1,2,3,2,1)
if t==t[::-1]:
    print('Tuple is a palindrome')
else:
    print('tuple is not a palindrome')

Tuple is a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [4]:
t=()
for i in range(1,6):
    t=t+tuple([i*i])
print(t)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [3]:
t1=(1,2,3,4,5,6,7,8,9,10)
l=[]
for i in t1:
    if i%2==0:
        l.append(i)
t=tuple(l)
print(t)

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [69]:
t1=(1,2,3,4,5)
t2=()
for i in t1:
    v=i*2
    t2=t2+tuple([v])
t1=t2
del t2
print(t1)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [61]:
import random
t1=()
for i in range(1,10):
    t1=t1+tuple([random.randint(1,1000)])
print(t1)

(510, 389, 308, 335, 557, 961, 123, 350, 278)

38. Check if a tuple is sorted.

In [73]:
t1=(1,2,3,4,5,4,6)
l=list(t1)
l.sort()
t2=tuple(l)
if t1==t2:
    print('Tuple is sorted')
else:
    print('Tuple is not sorted')

Tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [15]:
n=6
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20)
for i in range(n):
    t=tuple([t[-1]])+t[:-1]
print(t)

(15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14)

40. Rotate a tuple to the right by `n` positions.

In [16]:
n=6
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20)
for i in range(n):
    t=t[1:]+tuple([t[0]])
print(t)

(7, 8, 9, 10, 11, 12, 23, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6)

41. Create a tuple of the first 5 Fibonacci numbers.

In [3]:
x=0
y=1
t=tuple([0,1])
for i in range(0,5):
    x,y=y,x+y
    t+=tuple([y])
print(t)

(0, 1, 1, 2, 3, 5, 8)

42. Create a tuple from user input.

In [19]:
s=input('Enter a element for tuple')
t=tuple(s)
print(t)

Enter a element for tuple CHANDAN

('C', 'H', 'A', 'N', 'D', 'A', 'N')

43. Swap two elements in a tuple.

In [85]:
t=(1,2)
t=tuple([t[1]])+tuple([t[0]])
print(t)

(2, 1)

44. Reverse the elements of a tuple.

In [74]:
t1=(1,2,3,4,5,4,6)
t1=t1[::-1]
print(t1)

(6, 4, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [83]:
n=int(input('Enter the value of n:'))
t=tuple()
for i in range(1,n+1):
    t+=tuple([pow(i,2)])
print(t)

Enter the value of n: 12

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144)

46. Find the longest string in a tuple of strings.

In [75]:
t=("Hello","Welcome","PWSkills","Raju")
l=0
s=''
for i in t:
    if len(i)>l:
        l=len(i)
        s=i
print(f"Then longest string is {s} and the length is {l}")

Then longest string is PWSkills and the length is 8

47. Find the shortest string in a tuple of strings.

In [76]:
t=("Hello","Welcome","PWSkills","Raju")
l=len(t[0])
s=''
for i in t:
    if len(i)<l:
        l=len(i)
        s=i
print(f"Then shortest string is {s} and the length is {l}")

Then shortest string is Raju and the length is 4

48. Create a tuple of the first `n` triangular numbers.

In [22]:
t=()
n=30

def triangular(n):
    m=n*2
    m=int(m**0.5)
    m=(m)*(m+1)/2
    return n==m
    
for i in range(1,n+1):
    if triangular(i):
        t+=tuple([i])
print(t)

(1, 3, 6, 10, 15, 21, 28)

49. Check if a tuple contains another tuple as a subsequence.

In [80]:
t1=(22,33,44,(2,2,4,5,6),11,12,23,(2,3,1,2,4,(2,4,5,6,7)))
def check_sub_tuple(t):
    for i in t:
        if type(i)==tuple:
            return True
        else:
            pass
    return False
if check_sub_tuple(t1):
    print("tuple contains another tuple as a subsequence")
else:
    print("tuple is not contains another tuple as a subsequence")

tuple contains another tuple as a subsequence

In [81]:
t1=(22,33,44)
def check_sub_tuple(t):
    for i in t:
        if type(i)==tuple:
            return True
        else:
            pass
    return False
if check_sub_tuple(t1):
    print("tuple contains another tuple as a subsequence")
else:
    print("tuple is not contains another tuple as a subsequence")

tuple is not contains another tuple as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [13]:
def binary_tuple(n):
    t=tuple()
    for i in range(0,n):
        t+=tuple([i%2])
    return t
binary_tuple(10)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

### Set Based Practice Problem :
1. Create a set with integers from 1 to 5.

In [86]:
s={1,2,3,4,5}

2. Add an element to a set.

In [87]:
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [88]:
s={1,2,3,4,5}
s.remove(4)
print(s)

{1, 2, 3, 5}

4. Check if an element exists in a set.

In [90]:
s={1,2,3,4,5}
if 2 in s:
    print("Element Found!")
else:
    print("Element not found!")

Element Found!

5. Find the length of a set without using the `len()` function.

In [89]:
s={1,2,3,4,5}
count=0
for i in s:
    count+=1
print(count)

5

6. Clear all elements from a set.

In [91]:
s={1,2,3,4,5}
s.clear()
print(s)

set()

7. Create a set of even numbers from 1 to 10.

In [2]:
s=set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
print(s)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [3]:
s=set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print(s)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [93]:
s1={1,2,3,4,5}
s2={12,13,15,17,20}
s1.union(s2)

{1, 2, 3, 4, 5, 12, 13, 15, 17, 20}

10. Find the intersection of two sets.

In [91]:
s1={1,2,3,4,5}
s2={4,5,12,13,15,17,20}
s1.intersection(s2)

{4, 5}

11. Find the difference between two sets.

In [92]:
s1={1,2,3,4,5}
s2={4,5,12,13,15,17,20}
s1.difference(s2)

{1, 2, 3}

12. Check if a set is a subset of another set.

In [7]:
s1={1,2,3,4,5}
s2={4,5}
if s2.issubset(s1):
    print(f"s2={s2} is subset of s1={s1}")
else:
     print(f"s2={s2} is not subset of s1={s1}")

s2={4, 5} is subset of s1={1, 2, 3, 4, 5}

13. Check if a set is a superset of another set.

In [9]:
s1={1,2,3,4,5}
s2={4,5}
if s1.issuperset(s2):
    print(f"s1={s1} is superset of s2={s2}")
else:
     print(f"s2={s2} is not superset of s1={s1}")

s1={1, 2, 3, 4, 5} is superset of s2={4, 5}

14. Create a set from a list.

In [10]:
l=[1,2,3,4,5,6,8,1,2,3,9,99,53,24]
s=set(l)
print(l)

[1, 2, 3, 4, 5, 6, 8, 1, 2, 3, 9, 99, 53, 24]

15. Convert a set to a list.

In [100]:
s={1,2,3,4,5,6,7,8,9,10}
l=list(s)
print(l)
print(type(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

16. Remove a random element from a set.

In [21]:
s={1,2,3,4,5,6,8,1,2,3,9,99,53,24}
s.pop()
print(s)
# Note as we need to remove the random element we need to use the pop method

{2, 3, 4, 5, 6, 99, 8, 9, 53, 24}

17. Pop an element from a set.

In [22]:
s={1,2,3,4,5,6,8,1,2,3,9,99,53,24}
s.remove(3)
print(s)
# Note as we need to remove the specific element we need to use remove method

{1, 2, 4, 5, 6, 99, 8, 9, 53, 24}

18. Check if two sets have no elements in common.

In [88]:
s1={1,2,3,4,5}
s2={1,7,8}
s1.isdisjoint(s2)

False

19. Find the symmetric difference between two sets.

In [80]:
s1={1,2,3,4,5}
s2={4,5,3,2,1}
s1.symmetric_difference(s2)

{6}

20. Update a set with elements from another set.

In [90]:
s1={1,2,3,4,5}
s2={45,35,63,42,21}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 35, 42, 45, 21, 63}

21. Create a set of the first 5 prime numbers.

In [34]:
def check_prime(n):
    if n<2:
        return False
    elif (n<4) or (n==5):
        return True
    elif n%2==0 or  n%3==0:
        return False
    else:
        i=5
        while i<n:
            if n%i==0:
                return False
            i+=1
        return True
    
p_count=0
n=1
prime_numbers=set()

while p_count<5:
    if check_prime(n):
        prime_numbers.add(n)
        p_count+=1
    n+=1
        
print(prime_numbers)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [21]:
s1={1,2,3,4}
s2={1,2,3,4}
if s1 is s2:
    print('2 sets are identical')
else:
    print('2 sets are not identical')

2 sets are not identical

In [20]:
s1={1,2,3,4,5,6}
s2=s1
if s1 is s2:
    print('2 sets are identical')
else:
    print('2 sets are not identical')

2 sets are identical

23. Create a frozen set.

In [23]:
f1=frozenset([1,2,3,4,5])
print(f1)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [2]:
s1={1,2,3,8}
s2={4,5,6,7}
s1.isdisjoint(s2)

True

25. Create a set of squares of numbers from 1 to 5.

In [97]:
s=set()
for i in range(1,6):
    s.add(i*i)
print(s)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [29]:
import copy
s1={1,2,3,4,5,6,7,8,9}
l=list(s1)
for i in l:
    if i%2==0:
        l.remove(i)
s1=set(l)
print(s1)

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [35]:
s1={1,2,3,4,5,6,7,8,9}
l=list(s1)
s1=set([i*2 for i in l])
print(s1)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

28. Create a set of random numbers.

In [34]:
import random
s=set()
for i in range(0,10):
    s.add(random.randint(1,1000))
print(s)

{835, 196, 548, 134, 523, 109, 948, 852, 789, 88}

29. Check if a set is empty.

In [101]:
s=set()
if len(s)==0:
    print('Set is Empty')
else:
    print('Set is not Empty')

Set is Empty

30. Create a nested set (hint: use frozenset).

In [76]:
s1={1,2,3,4,frozenset([12,3,42,44,frozenset([77,88])])}
print(s1)

{1, 2, 3, 4, frozenset({3, 42, 12, 44, frozenset({88, 77})})}

31. Remove an element from a set using the discard method.

In [73]:
s1={1,2,3,4,5}
s1.discard(3)
print(s1)

{1, 2, 4, 5}

32. Compare two sets.

In [72]:
s1={1,2,3,4,5}
s2={2,1,2,3,4}
if s1==s2:
    print("2 sets are matching")
else:
    print("sets are not matching")

sets are not matching

33. Create a set from a string.

In [39]:
st='HEllow'
#Approach 1 - if we required to create the characterwise set
s=set(st)
print(s)

{'E', 'o', 'l', 'w', 'H'}

In [38]:
st='HEllow'
#Approach 2 - if we required to create the full string as single element
s=set([st])
print(s)

{'HEllow'}

34. Convert a set of strings to a set of integers.

In [43]:
s1={'5', '4', '2', '3', '1'}
l=list(s1)
s1.clear()
for i in l:
    s1.add(int(i))
print(s1)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [42]:
s1={1,2,3,4,5}
l=list(s1)
s1.clear()
for i in l:
    s1.add(str(i))
print(s1)

{'5', '4', '2', '3', '1'}

36. Create a set from a tuple.

In [78]:
t=(1,2,3,4,5,6)
s=set(t)
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6}
<class 'set'>

37. Convert a set to a tuple.

In [136]:
s={1,2,3,4,5,6,7}
t=tuple(s)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

38. Find the maximum value in a set.

In [138]:
s={1,2,3,4,5,6,7,55,6,5,88,34,56,55,23,34}
max(s)

88

39. Find the minimum value in a set.

In [139]:
s={1,2,3,4,5,6,7,55,6,5,88,34,56,55,23,34}
min(s)

1

40. Create a set from user input.

In [9]:
s=input('Please enter the set elements in comma separated')
s=set(s.split(sep=','))
print(s)

Please enter the set elements in comma separated 1,2,3,4,5

{'2', '5', '4', '3', '1'}

41. Check if the intersection of two sets is empty.

In [115]:
s1={1,2,3,4,5,6,7,8}
s2={7,8,9,11,13,14,56}
s1.intersection(s2)

{7, 8}

42. Create a set of the first 5 Fibonacci numbers.

In [48]:
x=0
y=1
s=set([0,1])
for i in range(0,5):
    x,y=y,x+y
    s.add(y)
print(s)

{0, 1, 2, 3, 5, 8}

43. Remove duplicates from a list using sets.

In [114]:
l=[1,2,3,1,2,3,4,4,5,5,5,6,6,7]
s=set(l)
l=list(s)
print(l)

[1, 2, 3, 4, 5, 6, 7]

44. Check if two sets have the same elements, regardless of their count.

In [11]:
s1={1,2,3,4,5,6,7,8,9}
s2={7,8,9,11,13,14,56,67,89}
s3=s1.intersection(s2)
if len(s3)>0:
    print(f'set s1 and s2 having common elements those are all {s3}')

set s1 and s2 having common elements those are all {8, 9, 7}

45. Create a set of the first `n` powers of 2.

In [53]:
n=int(input('Enter value of n in integer value'))
s=set([pow(i,2) for i in range(1,n+1)])
print(s)

Enter value of n in integer value 10

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

46. Find the common elements between a set and a list.

In [117]:
s1={1,2,3,4,5,6,7,8,9}
l1=[7,8,9,11,13,14,56,67,89]
s1.intersection(l1)

{7, 8, 9}

47. Create a set of the first `n` triangular numbers.

In [56]:
def triangular_numbers(n):
    triangular_set = set()
    for i in range(1, n + 1):
        triangular_number = (i * (i + 1)) // 2
        triangular_set.add(triangular_number)
    return triangular_set

n = 5
triangular_numbers = triangular_numbers(n)
print(triangular_numbers)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [54]:
f1=frozenset([1,2,3,4,5])
f2=frozenset([6,7,8,9,])
s=set([1,2,3,f1,f2])
print(s)
flag=False
for i in s:
    if type(i)==frozenset:
        flag=True
if flag:
    print("Yes set is having another set inside")
else:
    print("No, set is not having another set inside")

{1, 2, 3, frozenset({1, 2, 3, 4, 5}), frozenset({8, 9, 6, 7})}
Yes set is having another set inside

49. Create a set of alternating 1s and 0s of length `n`.

In [9]:
def binary_set(n):
    s=set()
    for i in range(0,n):
        s.add(i%2)
    return s
binary_set(6)
# Note set will not store duplicate elements it will not store till length n

{0, 1}

50. Merge multiple sets into one.

In [103]:
s1={1,2,3,4,5,6,7}
s2={11,22,31,43,51,61,71}
s3={101,202,231,343,151,361,471}
s4=s1.union(s2,s3)
print(s4)

{1, 2, 3, 4, 5, 6, 7, 71, 202, 11, 22, 471, 151, 343, 31, 101, 231, 361, 43, 51, 61}